.forms-opened-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #000c;
  z-index: 2;
}

.bank-forms {
  /* background-color: #E5E5E5e5; */
  background-color: #ffffffe5;
  position: fixed;
  top: 20%;
  z-index: 5;
  width: 75%;
  height: 77.5%;
  left: 50%;
  transform: translateX(-48%);
  padding: 40px 40px;
  border-radius: 5px;
}
.bsi-forms-hide{
  display: none;
}
.close-forms{
  width:35px;
  height:35px;
  position: absolute;
  top:35px;
  right: 45px;
  zoom:.8;
  cursor:pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0325 10.5L17.5 15.0325L12.9675 10.5L10.5 12.9675L15.0325 17.5L10.5 22.0325L12.9675 24.5L17.5 19.9675L22.0325 24.5L24.5 22.0325L19.9675 17.5L24.5 12.9675L22.0325 10.5ZM17.5 0C7.8225 0 0 7.8225 0 17.5C0 27.1775 7.8225 35 17.5 35C27.1775 35 35 27.1775 35 17.5C35 7.8225 27.1775 0 17.5 0ZM17.5 31.5C9.7825 31.5 3.5 25.2175 3.5 17.5C3.5 9.7825 9.7825 3.5 17.5 3.5C25.2175 3.5 31.5 9.7825 31.5 17.5C31.5 25.2175 25.2175 31.5 17.5 31.5Z' fill='%23F42525'/%3E%3C/svg%3E%0A");
  transition: transform .2s;
}
.close-forms:hover{
  transform: scale(1.2);
  transition: transform .2s;
}
.bank-forms .bank-forms-forms {
  max-height: 67.5%;
  overflow-y: auto;
}
.bank-forms .bank-forms-forms::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  cursor: auto;
}

.bank-forms .bank-forms-forms::-webkit-scrollbar-track {
  background-color: #61616122;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.bank-forms .bank-forms-forms::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #61616155;
}

.bank-forms .bank-form {
  background-color: #f2f2f2;
  padding: 22px 35px 22px 35px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.bank-forms h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.bank-forms .bank-form .form-title,
.bank-forms .bank-form .form-details {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}
.bank-forms .bank-form .form-details {
  color:var(--muted)
}

.bank-forms .bank-form .file-img {
  margin-right: 22px;
  width: 68px;
}

body.is-rtl .bank-forms {
  direction:ltr
}
.bank-forms .bank-form .download-img {
  justify-self: flex-end;
  margin-right: 0;
  margin-left: auto;
  width: 30px;
}
.bank-forms .bank-form .download-img {
  width: 30px;
}

.bank-forms .download-all-btn {
  display: inline-block;
  width: auto;
  padding: 7px 42px;
  color: #fff;
  background-color: var(--mainColor);
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
}
.disable-download{
  pointer-events: none;
  opacity: .5;
}

@media screen and (max-width: 1200px) {
  .bank-forms {
    top: 20%;
    width: 90%;
    height: 77.5%;
    left: 50%;
    padding: 40px 40px;
  }
  .bank-forms .bank-forms-forms {
    max-height: 67.5%;
  }
}
@media screen and (max-width: 992px) {
  .bank-forms {
    /* max-width: 0px; */
    padding: 40px 40px;
  }
}
@media screen and (max-width: 768px) {
  .bank-form-container{
    padding:0;
  }
  .bank-forms {
    top: 18%;
    transform: translateX(-48%);
    padding: 30px 12px 30px 25px;
  }
  .bank-forms h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .close-forms{
    top:30px;
    right: 35px;
    zoom:.65;
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='35' viewBox='0 0 35 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0325 10.5L17.5 15.0325L12.9675 10.5L10.5 12.9675L15.0325 17.5L10.5 22.0325L12.9675 24.5L17.5 19.9675L22.0325 24.5L24.5 22.0325L19.9675 17.5L24.5 12.9675L22.0325 10.5ZM17.5 0C7.8225 0 0 7.8225 0 17.5C0 27.1775 7.8225 35 17.5 35C27.1775 35 35 27.1775 35 17.5C35 7.8225 27.1775 0 17.5 0ZM17.5 31.5C9.7825 31.5 3.5 25.2175 3.5 17.5C3.5 9.7825 9.7825 3.5 17.5 3.5C25.2175 3.5 31.5 9.7825 31.5 17.5C31.5 25.2175 25.2175 31.5 17.5 31.5Z' fill='%23F42525'/%3E%3C/svg%3E%0A");
  }
  .bank-forms .bank-form {
    background-color: #f2f2f2;
    padding: 12px 17px;
    margin-bottom: 10px
  }
  
  .bank-forms .bank-form .form-title,
  .bank-forms .bank-form .form-details {
    font-size: 14px;
  }
  .bank-forms .bank-form .file-img {
    margin-right: 13px;
    width: 37px;
  }
  .bank-forms .bank-form .download-img {
    justify-self: flex-end;
    width: 24px;
  }
  .bank-forms .bank-form .download-img img{
    width: 24px;
  }
  .bank-forms .download-all-btn {
    padding: 7px 22px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
  }
}